{{ define "js" }}
  <script src="/js/vue.min.js"></script>
  <script>
    window.addEventListener("popstate", function (event) {
      event.preventDefault()
      history.back()
    })
    activateTabbarSwitcher("myTabContent", "chartTabs", "charts")
  </script>
  <script src="/js/validator.js"></script>
	<script>setValidatorStatus({{.Status}}, {{.ActivationEpoch}})</script>
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <script type="text/javascript" src="/js/datatable_input.js"></script>
  <script type="text/javascript" src="/js/datatable_loader.js"></script>
  {{ if and (ne .Status "deposited") (ne .Status "deposited_invalid") }}
    <script src="/js/highcharts/highstock.min.js"></script>
    <script src="/js/highcharts/exporting.min.js"></script>
    <script src="/js/highcharts/offline-exporting.min.js"></script>
    <script src="/js/highcharts/highcharts-global-options.js"></script>
		<script>setupDashboardButtons({{.Index }} + '')</script>
    <script>
      $(".income-chart-btn").on("click", () => {
        $("#incomeChart").removeClass("d-none")
        $("#proposedChart").addClass("d-none")
      })
      $(".proposed-chart-btn").on("click", () => {
        $("#incomeChart").addClass("d-none")
        $("#proposedChart").removeClass("d-none")
      })
    </script>
  {{ end }}
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" href="/css/validator.css" />
  <link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
  <style>
    /* #TODO:stefan maybe make this prettier somehow? */
    #chartTabs .nav-link {
      padding: 0.5rem 0.8rem;
    }
    #slashings-table td:first-child {
      white-space: break-spaces;
    }
    .badge-custom {
      font-size: 12px;
      font-weight: 500;
    }
    .validator-summary-div {
      border-right-color: rgba(50, 50, 50, 0.5);
      border-right-style: solid;
    }
    .validator-border-bottom {
      border-bottom-color: rgba(50, 50, 50, 0.5);
      border-bottom-style: solid;
    }
    .validator-charts-div {
      border-right-color: rgba(50, 50, 50, 0.5);
      border-right-style: solid;
      border-top-color: rgba(50, 50, 50, 0.5);
      border-top-style: solid;
      border-bottom-color: rgba(50, 50, 50, 0.5);
      border-bottom-style: solid;
    }
    .validator-content .nav-tabs .nav-item {
      margin-top: 0 !important;
    }
    /* .overview-container {
			max-width: 600px;
		}
		.overview-container > div {
			flex: 0 1 100px;
		} */
  </style>
{{ end }}

{{ define "content" }}
  {{ with .Data }}
    <!-- possible states: deposited deposited_invalid pending slashing_offline slashing_online active_offline active_online slashed exited -->
    {{ $deposited := or (eq .Status "deposited") (eq .Status "deposited_invalid") }}
    {{ $pending := or (eq .Status "pending") (eq .Status "pending_initialized") }}
    {{ $validating := or (or (or (eq .Status "active_online") (eq .Status "active_offline")) (or (eq .Status "slashing_online") (eq .Status "slashing_offline"))) (or (eq .Status "exiting_online") (eq .Status "exiting_offline")) }}
    {{ $exited := or (eq .Status "exited") (eq .Status "slashed") }}


    <div class="container mt-2 validator-content">
      {{ template "flashMessage" . }}
      {{ template "validatorHeading" . }}
      <div class="row align-items-stretch">
        <div class="col-lg-7 col-xl-8 px-lg-2 my-2">
          <div class="card d-flex flex-column justify-content-center h-100 py-0 px-0 card-body">
            <div class="row">
              <div class="col">{{ template "validatorLifeCycleDiagram" . }}</div>
            </div>
            <div class="d-flex flex-column justify-content-center">
              {{ if $deposited }}
                {{ template "validatorOverviewDeposited" $ }}
              {{ end }}
              {{ if $pending }}
                {{ template "validatorOverviewPending" . }}
              {{ end }}
              {{ if $validating }}
                {{ template "validatorOverviewValidating" $ }}
              {{ end }}
              {{ if $exited }}
                {{ template "validatorOverviewExited" $ }}
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 px-lg-2 my-2">
          <div class="card card-body py-2 px-0 h-100 d-flex align-items-center">
            {{ if $deposited }}
              {{ template "validatorNetworkStatsTable" . }}
            {{ end }}
            {{ if $pending }}
              {{ template "validatorIncomeTable" $ }}
            {{ end }}
            {{ if $validating }}
              {{ template "validatorIncomeTable" $ }}
            {{ end }}
            {{ if $exited }}
              {{ template "validatorIncomeTable" $ }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-lg-7 col-xl-8 px-lg-2 my-2">
          <div class="card h-100 px-0 py-0 card-body">
            <ul style="margin-top: -1px;margin-left:-1px;" class="nav nav-tabs" id="chartTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link {{ if .IncomeHistoryChartData }}active{{ else }}disabled{{ end }}" id="charts-tab" data-toggle="tab" href="#charts" role="tab" aria-controls="charts-tab-content" aria-selected="false">
                  <i class="tab-icon mr-md-2 fas fa-chart-bar"></i>
                  <span class="tab-text">Charts</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if eq .BlocksCount 0 }}disabled{{ end }}" id="blocks-tab" data-toggle="tab" href="#blocks" role="tab" aria-controls="blocks" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-cubes"></i><span class="tab-text">Blocks</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if eq .AttestationsCount 0 }}disabled{{ end }}" id="attestations-tab" data-toggle="tab" href="#attestations" role="tab" aria-controls="attestations" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-file-signature"></i><span class="tab-text">Atts.</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if eq .SyncCount 0 }}disabled{{ end }}" id="sync-tab" data-toggle="tab" href="#sync" role="tab" aria-controls="sync" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-sync"></i><span class="tab-text">Sync</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if eq .SlashingsCount 0 }}disabled{{ end }}" id="slashings-tab" data-toggle="tab" href="#slashings" role="tab" aria-controls="slashings" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-user-slash"></i><span class="tab-text">Slashings</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="deposits-tab" data-toggle="tab" href="#deposits" role="tab" aria-controls="deposits" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-wallet"></i> <span class="tab-text">Deposits</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if not .EnableWithdrawalsTab }}disabled{{ end }}" id="withdrawal-tab" data-toggle="tab" href="#withdrawals" role="tab" aria-controls="withdrawals" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-money-bill"></i> <span class="tab-text">Withdrawals</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ if and (eq (add (len .ExecutionConsolidations) (len .ConsolidationRequests)) 0) (not .MoveToCompoundingRequest) }}disabled{{ end }}" id="consolidations-tab" data-toggle="tab" href="#consolidations" role="tab" aria-controls="consolidations" aria-selected="false"><i class="tab-icon mr-md-1 fas fa-chevron-up"></i> <span class="tab-text">Consol.</span></a>
              </li>
              {{ if .IsRocketpool }}
                <li class="nav-item">
                  <a class="nav-link" id="rocketpool-tab" data-toggle="tab" href="#rocketpool" role="tab" aria-controls="rocketpool" aria-selected="false">
                    <i class="tab-icon mr-md-1 fas fa-rocket"></i>
                    <span class="tab-text">RPL</span>
                  </a>
                </li>
              {{ end }}
            </ul>
            <div class="tab-content h-100" id="myTabContent">
              <div id="chartsTabPanel" class="tab-pane fade w-100 h-100" role="tabpanel" aria-labelledby="charts-tab">
                <div class="btn-group border rounded mt-2 ml-2 charts-btn-group" role="group" aria-label="Charts buttons group">
                  <button type="button" class="btn btn-link btn-sm border-right income-chart-btn nav-link">Income</button>
                  <button type="button" class="btn btn-link btn-sm proposed-chart-btn nav-link">Proposals</button>
                </div>
                <div id="incomeChart" class="w-100 mb-2" aria-labelledby="incomeChart-tab">
                  {{ template "validatorIncomeChart" $ }}
                  <button type="button" id="load-income-btn" class="load-income-btn btn btn-primary btn-sm text-white d-none">Show all rewards</button>
                </div>
                <div id="proposedChart" class="w-100 mb-2 d-none" aria-labelledby="proposedChart-tab">
                  {{ template "validatorProposedChart" . }}
                </div>
              </div>
              {{ if gt .BlocksCount 0 }}
                <div class="tab-pane fade h-100" id="blocksTabPanel" role="tabpanel" aria-labelledby="blocks-tab" aria-controls="blocks">
                  {{ template "validatorProposedTable"  . }}
                </div>
              {{ end }}
              {{ if gt .AttestationsCount 0 }}
                <div class="tab-pane fade h-100" id="attestationsTabPanel" role="tabpanel" aria-labelledby="attestations-tab" aria-controls="attestations">
                  {{ template "validatorAttestationsTable" . }}
                </div>
              {{ end }}
              {{ if gt .SyncCount 0 }}
                <div class="tab-pane fade h-100" id="syncTabPanel" role="tabpanel" aria-labelledby="sync-tab" aria-controls="sync">
                  {{ template "validatorSyncTable" . }}
                </div>
              {{ end }}
              {{ if gt .SlashingsCount 0 }}
                <div class="tab-pane fade h-100" id="slashingsTabPanel" role="tabpanel" aria-labelledby="slashings-tab" aria-controls="slashings">
                  {{ template "validatorSlashingsTable" . }}
                </div>
              {{ end }}
              <div class="tab-pane fade h-100" id="depositsTabPanel" role="tabpanel" aria-labelledby="deposits-tab" aria-controls="deposits">
                <div class="px-3">{{ template "validatorDepositsTable" $ }}</div>
              </div>
              {{ if .EnableWithdrawalsTab }}
                <div class="tab-pane fade h-100" id="withdrawalsTabPanel" role="tabpanel" aria-labelledby="withdrawal-tab" aria-controls="withdrawals">
                  <div class="px-3">{{ template "validatorWithdrawalsTable" . }}</div>
                </div>
              {{ end }}
              <div class="tab-pane fade h-100" id="consolidationsTabPanel" role="tabpanel" aria-labelledby="consolidations-tab" aria-controls="consolidations">
                <div class="px-3">{{ template "validatorConsolidationsTable" $ }}</div>
              </div>
              {{ if .IsRocketpool }}
                <div class="tab-pane fade w-100" id="rocketpoolTabPanel" role="tabpanel" aria-labelledby="rocketpool-tab" aria-controls="rocketpool">
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mt-5 mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-male mr-3 text-muted"></i>Minipool Address</div>
                    <div>
                      {{ formatEth1Address .Rocketpool.MinipoolAddress }}{{ if ne .Rocketpool.RocketscanUrl "" }}<a class="no-highlight" href="https://{{ .Rocketpool.RocketscanUrl }}/minipool/{{ formatEth1AddressStringLowerCase .Rocketpool.MinipoolAddress }}" target="_blank"><i class="fas fa-rocket" role="button" data-toggle="tooltip" title="" data-original-title="More infos on Rocketscan"></i></a>{{ end }}
                    </div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-money-bill-wave mr-1 text-muted"></i>Minipool Commission</div>
                    <div>{{ formatFloat (mul .Rocketpool.MinipoolNodeFee 100) 2 }}%</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-wallet mr-2 text-muted"></i>Minipool Deposit Type</div>
                    {{ if eq (derefString .Rocketpool.MinipoolDepositType) "Empty" }}
                      <span class="badge badge-pill badge-light badge-custom mb-1">{{ .Rocketpool.MinipoolDepositType }}</span>
                    {{ else if eq (derefString .Rocketpool.MinipoolDepositType) "Half" }}
                      <span class="badge badge-pill badge-warning badge-custom text-white mb-1">{{ .Rocketpool.MinipoolDepositType }}</span>
                    {{ else }}
                      <span class="badge badge-pill badge-success badge-custom text-white mb-1">{{ .Rocketpool.MinipoolDepositType }}</span>
                    {{ end }}
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-check mr-2 text-muted"></i>Minipool Status</div>
                    {{ if eq (derefString .Rocketpool.MinipoolStatus) "Initialized" }}
                      <span class="badge badge-pill badge-success badge-custom text-white mb-1">{{ .Rocketpool.MinipoolStatus }}</span>
                    {{ else if eq (derefString .Rocketpool.MinipoolStatus) "Dissolved" }}
                      <span class="badge badge-pill badge-danger badge-custom text-white mb-1">{{ .Rocketpool.MinipoolStatus }}</span>
                    {{ else if eq (derefString .Rocketpool.MinipoolStatus) "Withdrawable" }}
                      <span class="badge badge-pill badge-warning badge-custom text-white mb-1">{{ .Rocketpool.MinipoolStatus }}</span>
                    {{ else }}
                      <span class="badge badge-pill badge-info badge-custom text-white mb-1">{{ .Rocketpool.MinipoolStatus }}</span>
                    {{ end }}
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-male mr-2 text-muted"></i> Node Address</div>
                    <div>
                      {{ formatEth1Address .Rocketpool.NodeAddress }}{{ if ne .Rocketpool.RocketscanUrl "" }}<a class="no-highlight" href="https://{{ .Rocketpool.RocketscanUrl }}/node/{{ formatEth1AddressStringLowerCase .Rocketpool.NodeAddress }}" target="_blank"><i class="fas fa-rocket" role="button" data-toggle="tooltip" title="" data-original-title="More infos on Rocketscan"></i></a>{{ end }}
                    </div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-coins mr-2 text-muted"></i>Node Deposit</div>
                    <div>{{ formatETH .Rocketpool.NodeDepositBalance }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-users mr-2 text-muted"></i>rETH Pool Deposit</div>
                    <div>{{ formatETH .Rocketpool.UserDepositBalance }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-chevron-left mr-2 text-muted"></i>Node Refund Balance</div>
                    <div>{{ formatETH .Rocketpool.NodeRefundBalance }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-regular fa-credit-card mr-2 text-muted"></i>Node Deposit Credit</div>
                    <div>{{ formatETH .Rocketpool.NodeDepositCredit }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-globe mr-2 text-muted mr-2 text-muted"></i>Node Timezone</div>
                    <div>{{ .Rocketpool.NodeTimezoneLocation }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-regular fa-circle mr-2 text-muted"></i>Vacant</div>
                    <div>{{ if .Rocketpool.IsVacant }}yes{{ else }}no{{ end }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-regular fa-code-branch mr-2 text-muted"></i>Delegate Version</div>
                    <div>{{ .Rocketpool.Version }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Node RPL Stake</div>
                    <div>{{ formatRPL .Rocketpool.NodeRPLStake }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Node RPL Effective Stake</div>
                    <div>{{ formatRPL .Rocketpool.EffectiveRPLStake }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Node Min RPL Stake</div>
                    <div>{{ formatRPL .Rocketpool.NodeMinRPLStake }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Node Max RPL Stake</div>
                    <div>{{ formatRPL .Rocketpool.NodeMaxRPLStake }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Node Cumulative RPL Claimed</div>
                    <div>{{ formatRPL .Rocketpool.CumulativeRPL }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-cubes mr-2 text-muted"></i>Unclaimed RPL</div>
                    <div>{{ formatRPL .Rocketpool.UnclaimedRPL }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-exclamation-triangle mr-2 text-muted"></i>Penalties</div>
                    <div>{{ if gt .Rocketpool.PenaltyCount 0 }}<span class="text-danger">{{ .Rocketpool.PenaltyCount }}</span>{{ else }}0{{ end }}</div>
                  </div>
                  <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                    <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-swimming-pool mr-2 text-muted"></i>Smoothing Pool Opt-In</div>
                    <div>{{ if .Rocketpool.SmoothingPoolOptIn }}✅{{ else }}❌{{ end }}</div>
                  </div>
                  {{ if .Rocketpool.SmoothingPoolOptIn }}
                    <div class="w-75 border-bottom d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                      <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-swimming-pool mr-2 text-muted"></i>Smoothing Claimed</div>
                      <div>{{ formatETH .Rocketpool.SmoothingClaimed }}</div>
                    </div>
                    <div class="w-75 d-flex flex-column flex-sm-row align-items-start align-items-sm-center justify-content-sm-between ml-4 mx-lg-auto mb-4">
                      <div class="text-nowrap font-weight-bold" style="font-size: .9rem;"><i class="fas fa-solid fa-swimming-pool mr-2 text-muted"></i>Smoothing Unclaimed</div>
                      <div>{{ formatETH .Rocketpool.SmoothingUnclaimed }}</div>
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Validator Modals -->
      {{ template "validatorEditModal"  . }}
      <!-- Add Validator to Watchlist Modal -->
      {{ if .User.Authenticated }}
        {{ template "AddValidatorWatchlistModal" .AddValidatorWatchlistModal }}
      {{ end }}


      <div id="r-banner" info="{{ $.Meta.Templates }}"></div>
    </div>
  {{ end }}
{{ end }}
